#frm1{
    height: auto;
    width: auto;
    text-align: center;
    background-color: antiquewhite;
}

h1{
    color: black;
}

.btn1{
    text-align: center;
    font-size: 25px;
    color: white;
    border-color: brown;
    background-color:black;
}